@keyframes pisca{
    0%{opacity: 0.2;}
    50%{opacity: 1;}
    100%{opacity:0.2;}
}

body{
    margin: 0;
    justify-content: center;
    font-family: Arial;
   align-items: center;
}
.urna {
    background-color: #C0C0C0;
    padding: 30px;
    display: flex;
}
/**Config da tela de usuario*/
.tela {
    width: 450px;
    height: 320px;
    background: linear-gradient(to right,#D3D3D3,#DCDCDC);
    border: 2px solid #555;
    display: flex;
    flex-direction:  column;
}
.primeiraLinha{
    flex: 1;
    display: flex;

}
.left{
flex: 1;
flex-direction: column;
padding-left: 2px ; /*Formata a lateral de todas as div dentro do left*/

}
.leftUm{
 height: 50px;
 display: flex;
 align-items: center;
}
.leftDois{
height: 50px;
display: flex;
align-items: center;
justify-content: center;  
}
.leftTres{
height: 50px; 
}
.primeiroNumero{
height: 30px;
width: 30px;
display: inline-block;
border: 2px solid black;
text-align: center;
line-height: 30px;
}
.pisca{
    animation-name: pisca;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}    
.leftQuatro{
 flex: 1;
 line-height: 30px;


}
.right{

     width: 90px;
     display: flex;
     flex-direction: column;
     align-items:flex-end;
     
}
.rigthImagem{
    border: 1px solid black;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 14px;
}
.rigthImagem img{
    width: 100% ;
    display: flex
    
}
.rigthImagem.small{/**Para 2 imagem ficar menor(lembra if e else)*/
    width: 70%;
    font-size: 12px;
    
}
.segundaLinha{
 height: 50px;
 font-size: 15px;
 border-top: 2px solid #000;
 padding-left: 2px;
}
/**Config da teclado*/
.teclado{
margin-left: 30 px;
background-color:#1b1a1a ;
 
}
.tecladoLinha{
    display: flex;
    justify-content:center;
    align-items:center;
}
.tecladoBotao{
    width: 70px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
    font-size: 13px;
    margin: 5px;
    cursor: pointer;/**esse comando da impressão de clicavel*/
    box-shadow: 3px 3px 0px #555;
    

}
.tecladoBranco{
    width: 70px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: azure;
    color: black;
    box-shadow: 3px 3px 0px #555;
    font-size: 15px;
        cursor: pointer;
    margin: 5px;
}
.tecladoConfirma{
    width: 70px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: blueviolet;
    color: black;
    font-size: 15px;
    box-shadow: 3px 3px 0px #555;
    cursor: pointer;
    margin: 5px;
}
.tecladoCorrige{
    width: 70px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #f09046;
    color: black;
    font-size: 15px;
    box-shadow: 3px 3px 0px #555 ;
    cursor: pointer;
    margin: 5px;
}
