body{
    margin: 0;
}
header {
    margin:0 ;
    display: flex;
    flex-direction: column ;
    height: 100vh;
    background-color: azure;
    
}
.header{
    height: 50px;
    background-color: brown;
}
.slide {
    flex: 1;
    background-color: chocolate;
}
.largSlide{
height: 100%;
display: flex;
transition: all ease 0.3s;
}
.imagem{
    width:100%;
    height: inherit;
    background-position: center;
    background-size: cover;

}